cycler==0.11.0
fonttools==4.34.4
h5py==3.7.0
kiwisolver==1.4.4
matplotlib==3.5.2
numpy==1.21.6
packaging==21.3
Pillow==9.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
scipy==1.7.3
six==1.16.0
spacepy==0.3.0
typing_extensions==4.3.0
